In [11]:
#pip install python-jobspy

In [12]:
import pandas as pd
import csv
from jobspy import scrape_jobs

# Define multiple search terms
search_terms = ["data Analyst", "data scientist", "postdoc", "Scientist"]

# Initialize an empty DataFrame to store all jobs
all_jobs = pd.DataFrame()

# Iterate over each search term and aggregate the results
for term in search_terms:
    jobs = scrape_jobs(
        site_name=["indeed", "linkedin", "glassdoor"],
        search_term=term,
        location="Berlin",
        results_wanted=100,
        hours_old=72,
        country_indeed='Germany'
    )
    # Check jobs df, if it's not empty before concatenating
    if not jobs.empty:
        all_jobs = pd.concat([all_jobs, jobs], ignore_index=True)

# Display the number of jobs found
print(f"Found {len(all_jobs)} jobs")

all_jobs.head()

2024-02-26 13:10:03,471 - JobSpy - ERROR - ZipRecruiter response status code 403
/Users/amr/anaconda3/lib/python3.11/site-packages/jobspy/__init__.py:155: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  jobs_df = pd.concat(jobs_dfs, ignore_index=True)
2024-02-26 13:10:27,128 - JobSpy - ERROR - ZipRecruiter response status code 403
/Users/amr/anaconda3/lib/python3.11/site-packages/jobspy/__init__.py:155: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  jobs_df = pd.concat(jobs_dfs, ignore_index=True)
2024-02-26 13:10:46,696 - JobSpy - ERROR - ZipRecruiter response status code 403
/var/folders/q2/_chm3qg94gz5l7r736h39n040000gn/T/ipykernel_16597/480919763.py:23: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_jobs = pd.concat([all_jobs, jobs], ignore_index=True)
2024-02-26 13:10:51,063 - JobSpy - ERROR - 429 Response - Blocked by Glassdoor for too many requests
2024-02-26 13:10:51,299 - JobSpy - ERROR - ZipRecruiter response status code 403

Found 266 jobs

/Users/amr/anaconda3/lib/python3.11/site-packages/jobspy/__init__.py:155: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  jobs_df = pd.concat(jobs_dfs, ignore_index=True)

,job_url,site,title,company,company_url,location,job_type,date_posted,interval,min_amount,max_amount,currency,is_remote,num_urgent_words,benefits,emails,description
0,https://www.glassdoor.de/job-listing/j?jl=1009...,glassdoor,Data Analyst*in (d/m/w),Toll Collect GmbH,https://www.glassdoor.de/Overview/W-EI_IE79556...,Berlin,None,2024-02-26,None,NaN,NaN,None,False,0,None,karriere@toll-collect.de,Referenznummer: 20643\n\nIhre Aufgaben\n\n ...
1,https://www.glassdoor.de/job-listing/j?jl=1009...,glassdoor,Duales Studium – Bachelor of Science Informati...,Kassenärztliche Bundesvereinigung KdöR,https://www.glassdoor.de/Overview/W-EI_IE68192...,Berlin,None,2024-02-26,None,NaN,NaN,None,False,0,None,None,"Mehr als 100.000 Praxen arbeiten mit der IT, d..."
2,https://www.glassdoor.de/job-listing/j?jl=1009...,glassdoor,Marketing Analyst (m/f/d),aeydē GmbH,https://www.glassdoor.de/Overview/W-EI_IE30208...,Berlin,None,2024-02-25,None,NaN,NaN,None,False,0,None,None,Your tasks \n \nAcquisition Strategy (50%) ...
3,https://www.glassdoor.de/job-listing/j?jl=1009...,glassdoor,Social Media Data Analyst (w/m/d),TLGG,https://www.glassdoor.de/Overview/W-EI_IE87290...,Berlin,None,2024-02-25,None,NaN,NaN,None,False,0,None,None,Daten über das Social Media Verhalten deiner Z...
4,https://www.glassdoor.de/job-listing/j?jl=1009...,glassdoor,(Senior) Expert Investor Relations (m/w/d),KWS Group,https://www.glassdoor.de/Overview/W-EI_IE93422...,Berlin,None,2024-02-24,None,NaN,NaN,None,False,0,None,None,r dich keine Herausforderungen dar und Kennzah...

In [13]:
# Remove duplicate entries based on 'company' and 'title' columns
all_jobs.drop_duplicates(subset=['date_posted', 'company', 'title'], inplace=True, ignore_index=True)

# Display the number of jobs found after removing duplicates
print(f"Found {len(all_jobs)} jobs after removing duplicates")

all_jobs.sort_values(by='date_posted', ascending=False, inplace=True)

# Display the top 5 rows of the all_jobs DataFrame
all_jobs

Found 206 jobs after removing duplicates

,job_url,site,title,company,company_url,location,job_type,date_posted,interval,min_amount,max_amount,currency,is_remote,num_urgent_words,benefits,emails,description
0,https://www.glassdoor.de/job-listing/j?jl=1009...,glassdoor,Data Analyst*in (d/m/w),Toll Collect GmbH,https://www.glassdoor.de/Overview/W-EI_IE79556...,Berlin,None,2024-02-26,None,NaN,NaN,None,False,0,None,karriere@toll-collect.de,Referenznummer: 20643\n\nIhre Aufgaben\n\n ...
11,https://de.indeed.com/viewjob?jk=7f470b4e4b72c6bd,indeed,Data Specialist,Toll Collect GmbH,https://de.indeed.com/cmp/Toll-Collect-Gmbh,"Berlin, BE, Germany",None,2024-02-26,None,NaN,NaN,None,True,0,None,karriere@toll-collect.de,Referenznummer: 20643\n\nIhre Aufgaben\n\n ...
126,https://de.indeed.com/viewjob?jk=66381d827d21e93f,indeed,Data Scientist,Toll Collect GmbH,https://de.indeed.com/cmp/Toll-Collect-Gmbh,"Berlin, BE, Germany",None,2024-02-26,None,NaN,NaN,None,True,0,None,karriere@toll-collect.de,Referenznummer: 20622\n\nIhre Aufgaben \n\n ...
1,https://www.glassdoor.de/job-listing/j?jl=1009...,glassdoor,Duales Studium – Bachelor of Science Informati...,Kassenärztliche Bundesvereinigung KdöR,https://www.glassdoor.de/Overview/W-EI_IE68192...,Berlin,None,2024-02-26,None,NaN,NaN,None,False,0,None,None,"Mehr als 100.000 Praxen arbeiten mit der IT, d..."
12,https://de.indeed.com/viewjob?jk=813a90e67be0271c,indeed,Duales Studium Zum Bachelor of Arts,Kassenärztliche Bundesvereinigung KdöR,https://de.indeed.com/cmp/Kassen%C3%A4rztliche...,"Berlin, BE, Germany",fulltime,2024-02-26,None,NaN,NaN,None,False,0,None,None,"Mehr als 100.000 Praxen arbeiten mit der IT, d..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,https://www.linkedin.com/jobs/view/3834849654,linkedin,Senior Scientist for a Permanent Position in A...,DESY,https://de.linkedin.com/company/desy,"Zeuthen, Brandenburg, Germany",None,None,None,NaN,NaN,None,None,None,Be an early applicant,None,None
202,https://www.linkedin.com/jobs/view/3727087476,linkedin,"Data Science Manager (Bangkok based, relocatio...",Agoda,https://sg.linkedin.com/company/agoda,"Berlin, Berlin, Germany",None,None,None,NaN,NaN,None,None,None,Actively Hiring,None,None
203,https://www.linkedin.com/jobs/view/3733045332,linkedin,(Senior) Consultant Data & Analytics - Projekt...,adesso SE,https://de.linkedin.com/company/adesso-se,"Berlin, Berlin, Germany",None,None,None,NaN,NaN,None,None,None,Actively Hiring,None,None
204,https://www.linkedin.com/jobs/view/3834701559,linkedin,"Senior Data Scientist, Totogi (Remote) - $400,...",Crossover,https://www.linkedin.com/company/crossover,"Berlin, Berlin, Germany",None,None,None,200.0,200.0,USD,None,None,Be an early applicant,None,None
205,https://www.linkedin.com/jobs/view/3834859823,linkedin,Startup Founder (May 2024) - Software Engineer...,Antler,https://sg.linkedin.com/company/antlerglobal,"Berlin, Germany",None,None,None,NaN,NaN,None,None,None,Be an early applicant,None,None

In [14]:
all_jobs = all_jobs[['date_posted','title','company','site','job_url','description']]
all_jobs

,date_posted,title,company,site,job_url,description
0,2024-02-26,Data Analyst*in (d/m/w),Toll Collect GmbH,glassdoor,https://www.glassdoor.de/job-listing/j?jl=1009...,Referenznummer: 20643\n\nIhre Aufgaben\n\n ...
11,2024-02-26,Data Specialist,Toll Collect GmbH,indeed,https://de.indeed.com/viewjob?jk=7f470b4e4b72c6bd,Referenznummer: 20643\n\nIhre Aufgaben\n\n ...
126,2024-02-26,Data Scientist,Toll Collect GmbH,indeed,https://de.indeed.com/viewjob?jk=66381d827d21e93f,Referenznummer: 20622\n\nIhre Aufgaben \n\n ...
1,2024-02-26,Duales Studium – Bachelor of Science Informati...,Kassenärztliche Bundesvereinigung KdöR,glassdoor,https://www.glassdoor.de/job-listing/j?jl=1009...,"Mehr als 100.000 Praxen arbeiten mit der IT, d..."
12,2024-02-26,Duales Studium Zum Bachelor of Arts,Kassenärztliche Bundesvereinigung KdöR,indeed,https://de.indeed.com/viewjob?jk=813a90e67be0271c,"Mehr als 100.000 Praxen arbeiten mit der IT, d..."
...,...,...,...,...,...,...
201,None,Senior Scientist for a Permanent Position in A...,DESY,linkedin,https://www.linkedin.com/jobs/view/3834849654,None
202,None,"Data Science Manager (Bangkok based, relocatio...",Agoda,linkedin,https://www.linkedin.com/jobs/view/3727087476,None
203,None,(Senior) Consultant Data & Analytics - Projekt...,adesso SE,linkedin,https://www.linkedin.com/jobs/view/3733045332,None
204,None,"Senior Data Scientist, Totogi (Remote) - $400,...",Crossover,linkedin,https://www.linkedin.com/jobs/view/3834701559,None
205,None,Startup Founder (May 2024) - Software Engineer...,Antler,linkedin,https://www.linkedin.com/jobs/view/3834859823,None

In [15]:
# Exclude jobs using certain keywords in the Title
keywords_to_exclude = ['Developer', 'Engineer', 'Software', 'Entwickler', 'Business', 'DevOps','Intern', 'Marketing','Finance', 'Senior Data']

# Create a mask that is True for rows to exclude
mask = pd.Series([False] * len(all_jobs))  # Initialize a mask to keep all rows
for keyword in keywords_to_exclude:
    mask = mask | all_jobs['title'].str.contains(keyword, case=False, na=False)

# Use the negation of the mask to filter the DataFrame
filtered_jobs = all_jobs[~mask]

filtered_jobs

/var/folders/q2/_chm3qg94gz5l7r736h39n040000gn/T/ipykernel_16597/3762788471.py:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered_jobs = all_jobs[~mask]

,date_posted,title,company,site,job_url,description
0,2024-02-26,Data Analyst*in (d/m/w),Toll Collect GmbH,glassdoor,https://www.glassdoor.de/job-listing/j?jl=1009...,Referenznummer: 20643\n\nIhre Aufgaben\n\n ...
11,2024-02-26,Data Specialist,Toll Collect GmbH,indeed,https://de.indeed.com/viewjob?jk=7f470b4e4b72c6bd,Referenznummer: 20643\n\nIhre Aufgaben\n\n ...
126,2024-02-26,Data Scientist,Toll Collect GmbH,indeed,https://de.indeed.com/viewjob?jk=66381d827d21e93f,Referenznummer: 20622\n\nIhre Aufgaben \n\n ...
1,2024-02-26,Duales Studium – Bachelor of Science Informati...,Kassenärztliche Bundesvereinigung KdöR,glassdoor,https://www.glassdoor.de/job-listing/j?jl=1009...,"Mehr als 100.000 Praxen arbeiten mit der IT, d..."
12,2024-02-26,Duales Studium Zum Bachelor of Arts,Kassenärztliche Bundesvereinigung KdöR,indeed,https://de.indeed.com/viewjob?jk=813a90e67be0271c,"Mehr als 100.000 Praxen arbeiten mit der IT, d..."
121,2024-02-26,Data Scientist*in Einnahmesicherung und Auskeh...,Toll Collect GmbH,glassdoor,https://www.glassdoor.de/job-listing/j?jl=1009...,Referenznummer: 20622\n\nIhre Aufgaben \n\n ...
197,2024-02-25,"Fachinformatiker/in systemintegration, netzwer...",Energy Jobline,linkedin,https://www.linkedin.com/jobs/view/3837971742,None
3,2024-02-25,Social Media Data Analyst (w/m/d),TLGG,glassdoor,https://www.glassdoor.de/job-listing/j?jl=1009...,Daten über das Social Media Verhalten deiner Z...
32,2024-02-25,Data Scientist (w/m/d),Siemens,linkedin,https://www.linkedin.com/jobs/view/3816898375,None
132,2024-02-25,(Senior) Data Scientist (all genders),adesso SE,linkedin,https://www.linkedin.com/jobs/view/3733044085,None
31,2024-02-25,(Senior) Consultant Customer Intelligence (all...,adesso SE,linkedin,https://www.linkedin.com/jobs/view/3733740894,None
27,2024-02-25,Data Scientist Schwerpunkt Energiewende (m/w/d)*,Tagueri AG,linkedin,https://www.linkedin.com/jobs/view/3837980042,None
193,2024-02-25,Wissenschafltiche r Mitarbeiter in (PostDoc) (...,Energy Jobline,linkedin,https://www.linkedin.com/jobs/view/3837978129,None
122,2024-02-24,Data Scientist - Pricing (w/m/d),KPMG,glassdoor,https://www.glassdoor.de/job-listing/j?jl=1009...,**Data Scientist - Pricing (w/m/d)** \nJob-Nr...
123,2024-02-24,Data Scientist,Amadeus,glassdoor,https://www.glassdoor.de/job-listing/j?jl=1009...,**Job Title**\n\nData Scientist\n\n **Diversit...
124,2024-02-24,Scientist 6G Standardization,"Telecommunications, Heinrich Hertz Institute",glassdoor,https://www.glassdoor.de/job-listing/j?jl=1009...,The Fraunhofer-Gesellschaft (www.fraunhofer.co...
194,2024-02-24,Wissenschafltiche*r Mitarbeiter*in (PostDoc) (...,Technische Universität Berlin,linkedin,https://www.linkedin.com/jobs/view/3839153353,None
196,2024-02-24,Junior Scientist,Kineo GmbH,indeed,https://de.indeed.com/viewjob?jk=196d283cfa89694e,"We are Kineo, a Berlin-based tech startup deve..."
190,2024-02-24,Postdoc (m/f/d) HIPOLE Jena,Springer Nature,glassdoor,https://www.glassdoor.de/job-listing/j?jl=1009...,# **Postdoc (m/f/d) HIPOLE Jena**\n\nEmployer...
198,2024-02-24,Volunteer: Whale Shark Conservation Project in...,Global Nomadic,linkedin,https://www.linkedin.com/jobs/view/3803759864,None
200,2024-02-24,"Volunteer: Shark Research, Education + Conserv...",Global Nomadic,linkedin,https://www.linkedin.com/jobs/view/3803760860,None
13,2024-02-24,Data Specialist,TLGG,indeed,https://de.indeed.com/viewjob?jk=fc9806aebb59a606,Daten über das Social Media Verhalten deiner Z...
8,2024-02-24,Senior Product Designer (all genders),craftdrive GmbH,glassdoor,https://www.glassdoor.de/job-listing/j?jl=1009...,#### **Why join us?**\n\nAt **koppla** we wan...
37,2024-02-24,Data Analyst (m/w/d),Michael Page,linkedin,https://www.linkedin.com/jobs/view/3837708017,None
4,2024-02-24,(Senior) Expert Investor Relations (m/w/d),KWS Group,glassdoor,https://www.glassdoor.de/job-listing/j?jl=1009...,r dich keine Herausforderungen dar und Kennzah...
5,2024-02-24,Senior BI Analyst (f/m/x),CarOnSale,glassdoor,https://www.glassdoor.de/job-listing/j?jl=1009...,**CarOnSale** is a start-up in the heart of Be...
154,2024-02-23,Principal Data Scientist,BMG - The New Music Company,linkedin,https://www.linkedin.com/jobs/view/3837028745,None
195,2024-02-23,Postdoctoral Fellow in Biochemistry or Structu...,Leibniz-Forschungsinstitut für Molekulare Phar...,linkedin,https://www.linkedin.com/jobs/view/3836891227,None
192,2024-02-23,Post-doctoral Fellow,Leibniz-Forschungsinstitut für Molekulare Phar...,indeed,https://de.indeed.com/viewjob?jk=a498ca655f6db570,**Postdoctoral Fellow in Biochemistry or Struc...
191,2024-02-23,Postdoc (m/f/d) Hipole Jena,Springer Nature,indeed,https://de.indeed.com/viewjob?jk=4e0379d09f9a06eb,# **Postdoc (m/f/d) HIPOLE Jena**\n\nEmployer...
169,2024-02-23,"Informatiker/in in Berlin, Deutschland",Energy Jobline,linkedin,https://www.linkedin.com/jobs/view/3837012033,None
21,2024-02-23,Senior Product Designer,craftdrive GmbH,indeed,https://de.indeed.com/viewjob?jk=7d5883f79a5bfdf8,
20,2024-02-23,Senior Guest Relations,KWS Group,indeed,https://de.indeed.com/viewjob?jk=efc3d19a515c2374,
70,2024-02-23,Data Scientist - Pricing (w/m/d),KPMG Deutschland,linkedin,https://www.linkedin.com/jobs/view/3833819334,None
63,2024-02-23,Werkstudent*in Python-Entwicklung für optische...,Fraunhofer Heinrich Hertz Institute HHI,linkedin,https://www.linkedin.com/jobs/view/3838716491,None
49,2024-02-23,Financial Data Analyst (d/f/m) at Solaris,Solaris SE,linkedin,https://www.linkedin.com/jobs/view/3838453395,None
130,2024-02-23,Data Scientist,Bundesministerium für Digitales und Verkehr,indeed,https://de.indeed.com/viewjob?jk=24be6e205949be82,Das Bundesministerium fur Digitales und Verkeh...
129,2024-02-23,Data Scientist,KPMG,indeed,https://de.indeed.com/viewjob?jk=bdc8c5633c3389ce,**Data Scientist - Pricing (w/m/d)** \nJob-Nr...
128,2024-02-23,Scientist,"Telecommunications, Heinrich Hertz Institute",indeed,https://de.indeed.com/viewjob?jk=0ee2538f2613a9e0,The Fraunhofer-Gesellschaft (www.fraunhofer.co...
127,2024-02-23,Data Scientist,Amadeus,indeed,https://de.indeed.com/viewjob?jk=185196c76dd1c1c4,**Job Title**\n\nData Scientist\n\n **Diversit...
85,None,Digital Data Analyst (Entry Level),Hal Kompi Concepta,linkedin,https://www.linkedin.com/jobs/view/3834856103,None
87,None,Expert Data Analyst and Energy Market Modeler ...,Q ENERGY,linkedin,https://www.linkedin.com/jobs/view/3840209315,None
88,None,Consultant Forensic Data Analytics (m/w/d) in ...,Deloitte,linkedin,https://www.linkedin.com/jobs/view/3549653207,None
89,None,"Data Analyst (Supply Analytics team, Bangkok-b...",Agoda,linkedin,https://www.linkedin.com/jobs/view/3838606564,None
94,None,(Senior) Consultant Visual Analytics & BI (m/w/d),Deloitte,linkedin,https://www.linkedin.com/jobs/view/3630914774,None
102,None,(Senior) Fraud Risk Analyst (m/f/d),Riverty,linkedin,https://www.linkedin.com/jobs/view/3774177265,None
103,None,(Senior) Fraud Risk Analyst (m/w/d),Riverty,linkedin,https://www.linkedin.com/jobs/view/3784875658,None
112,None,Data Scientist (w/m/d),Siemens,linkedin,https://www.linkedin.com/jobs/view/3817200150,None
116,None,Quality Assurance Analyst with German and English,Conectys,linkedin,https://www.linkedin.com/jobs/view/3840210822,None
177,None,(Senior) Data Scientist (all genders),adesso SE,linkedin,https://www.linkedin.com/jobs/view/3733042224,None
201,None,Senior Scientist for a Permanent Position in A...,DESY,linkedin,https://www.linkedin.com/jobs/view/3834849654,None
202,None,"Data Science Manager (Bangkok based, relocatio...",Agoda,linkedin,https://www.linkedin.com/jobs/view/3727087476,None
203,None,(Senior) Consultant Data & Analytics - Projekt...,adesso SE,linkedin,https://www.linkedin.com/jobs/view/3733045332,None

In [16]:
# Path to existing Excel file
existing_file_path = 'jobs.xlsx'

# Read the existing Excel file into a DataFrame
existing_jobs = pd.read_excel(existing_file_path)

# Combine existing jobs with new filtered jobs into a df
combined_jobs = pd.concat([existing_jobs, filtered_jobs], ignore_index=True)

# Remove duplicates based on certain columns that uniquely identify a job listing
unique_jobs = combined_jobs.drop_duplicates(subset=['company', 'title', 'date_posted'], keep='first')

unique_jobs.to_excel(existing_file_path, index=False)