In [1]:
#pip install python-jobspy

In [2]:
import pandas as pd
import csv
from jobspy import scrape_jobs

# Define multiple search terms
search_terms = ["data Analyst", "data scientist", "postdoc", "Scientist"]

# Initialize an empty DataFrame to store all jobs
all_jobs = pd.DataFrame()

# Iterate over each search term and aggregate the results
for term in search_terms:
    jobs = scrape_jobs(
        site_name=["indeed", "linkedin", "zip_recruiter", "glassdoor"],
        search_term=term,
        location="Berlin",
        results_wanted=100,
        hours_old=48,
        country_indeed='Germany'
    )
    # Check jobs df, if it's not empty before concatenating
    if not jobs.empty:
        all_jobs = pd.concat([all_jobs, jobs], ignore_index=True)

# Display the number of jobs found
print(f"Found {len(all_jobs)} jobs")

all_jobs.head()

/Users/amr/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (
2024-02-23 17:15:38,425 - JobSpy - ERROR - ZipRecruiter response status code 403
/Users/amr/anaconda3/lib/python3.11/site-packages/jobspy/__init__.py:155: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  jobs_df = pd.concat(jobs_dfs, ignore_index=True)
2024-02-23 17:16:05,825 - JobSpy - ERROR - ZipRecruiter response status code 403
/Users/amr/anaconda3/lib/python3.11/site-packages/jobspy/__init__.py:155: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  jobs_df = pd.concat(jobs_dfs, ignore_index=True)
2024-02-23 17:16:26,223 - JobSpy - ERROR - 429 Response - Blocked by Glassdoor for too many requests
2024-02-23 17:16:26,612 - JobSpy - ERROR - ZipRecruiter response status code 403
/var/folders/q2/_chm3qg94gz5l7r736h39n040000gn/T/ipykernel_16597/221074620.py:23: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_jobs = pd.concat([all_jobs, jobs], ignore_index=True)
2024-02-23 17:16:34,327 - JobSpy - ERROR - 429 Response - Blocked by Glassdoor for too many requests
2024-02-23 17:16:34,646 - JobSpy - ERROR - ZipRecruiter response status code 403

Found 274 jobs

/Users/amr/anaconda3/lib/python3.11/site-packages/jobspy/__init__.py:155: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  jobs_df = pd.concat(jobs_dfs, ignore_index=True)

,job_url,site,title,company,company_url,location,job_type,date_posted,interval,min_amount,max_amount,currency,is_remote,num_urgent_words,benefits,emails,description
0,https://www.glassdoor.de/job-listing/j?jl=1009...,glassdoor,(Senior) Expert Investor Relations (m/w/d),KWS Group,https://www.glassdoor.de/Overview/W-EI_IE93422...,Berlin,None,2024-02-23,None,NaN,NaN,None,False,0,None,None,# **(Senior) Expert Investor Relations (m/w/d...
1,https://www.glassdoor.de/job-listing/j?jl=1009...,glassdoor,Data Analysts - Business Analytics (all genders),Urban Sports Club,https://www.glassdoor.de/Overview/W-EI_IE16677...,Berlin,None,2024-02-23,None,NaN,NaN,None,False,0,None,None,## **The opportunity**\n\nAs a Data Analyst i...
2,https://www.glassdoor.de/job-listing/j?jl=1009...,glassdoor,Senior Web Analyst (all genders),Accenture,https://www.glassdoor.de/Overview/W-EI_IE4138.htm,Berlin,None,2024-02-23,None,NaN,NaN,None,False,0,None,michael.bergmann@accenture.com,"Wenn du eine Sache kannst, dann ist es Daten i..."
3,https://www.glassdoor.de/job-listing/j?jl=1009...,glassdoor,Data Analyst*in (d/m/w),Toll Collect GmbH,https://www.glassdoor.de/Overview/W-EI_IE79556...,Berlin,None,2024-02-23,None,NaN,NaN,None,False,0,None,karriere@toll-collect.de,Referenznummer: 20643\n\nIhre Aufgaben\n\n ...
4,https://www.glassdoor.de/job-listing/j?jl=1009...,glassdoor,Marketing Analyst,Rugvista,https://www.glassdoor.de/Overview/W-EI_IE60420...,Berlin,None,2024-02-23,None,NaN,NaN,None,False,0,None,None,**About The Role:**\n\nIf you are passionate a...

In [3]:
# Remove duplicate entries based on 'company' and 'title' columns
all_jobs.drop_duplicates(subset=['date_posted', 'company', 'title'], inplace=True, ignore_index=True)

# Display the number of jobs found after removing duplicates
print(f"Found {len(all_jobs)} jobs after removing duplicates")

all_jobs.sort_values(by='date_posted', ascending=False, inplace=True)

# Display the top 5 rows of the all_jobs DataFrame
all_jobs

Found 222 jobs after removing duplicates

,job_url,site,title,company,company_url,location,job_type,date_posted,interval,min_amount,max_amount,currency,is_remote,num_urgent_words,benefits,emails,description
0,https://www.glassdoor.de/job-listing/j?jl=1009...,glassdoor,(Senior) Expert Investor Relations (m/w/d),KWS Group,https://www.glassdoor.de/Overview/W-EI_IE93422...,Berlin,None,2024-02-23,None,NaN,NaN,None,False,0,None,None,# **(Senior) Expert Investor Relations (m/w/d...
1,https://www.glassdoor.de/job-listing/j?jl=1009...,glassdoor,Data Analysts - Business Analytics (all genders),Urban Sports Club,https://www.glassdoor.de/Overview/W-EI_IE16677...,Berlin,None,2024-02-23,None,NaN,NaN,None,False,0,None,None,## **The opportunity**\n\nAs a Data Analyst i...
132,https://de.indeed.com/viewjob?jk=93b8c1288c6c46b1,indeed,Data Scientist,Toll Collect GmbH,https://de.indeed.com/cmp/Toll-Collect-Gmbh,"Berlin, BE, Germany",None,2024-02-23,None,NaN,NaN,None,True,0,None,karriere@toll-collect.de,Referenznummer: 20622\n\nIhre Aufgaben \n\n ...
125,https://www.glassdoor.de/job-listing/j?jl=1009...,glassdoor,Data Scientist,Amadeus,https://www.glassdoor.de/Overview/W-EI_IE6940.htm,Berlin,None,2024-02-23,None,NaN,NaN,None,False,0,None,None,**Job Title**\n\nData Scientist\n\n **Diversit...
211,https://de.indeed.com/viewjob?jk=a498ca655f6db570,indeed,Post-doctoral Fellow,Leibniz-Forschungsinstitut für Molekulare Phar...,https://de.indeed.com/cmp/Leibniz--forschungsi...,"Berlin, BE, Germany",None,2024-02-23,None,NaN,NaN,None,False,1,None,None,**Postdoctoral Fellow in Biochemistry or Struc...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,https://www.linkedin.com/jobs/view/3831893577,linkedin,Typescript developer,Planner 5D,https://lt.linkedin.com/company/planner-5d,"Berlin, Berlin, Germany",None,None,None,NaN,NaN,None,None,None,Be an early applicant,None,None
215,https://www.linkedin.com/jobs/view/3836891227,linkedin,Postdoctoral Fellow in Biochemistry or Structu...,Leibniz-Forschungsinstitut für Molekulare Phar...,https://de.linkedin.com/company/fmpberlin,"Berlin, Berlin, Germany",None,None,None,NaN,NaN,None,None,None,None,None,None
216,https://www.linkedin.com/jobs/view/3836275722,linkedin,Postdoctoral Researcher- Observational learnin...,Science of Intelligence,https://de.linkedin.com/company/scioi,"Berlin, Berlin, Germany",None,None,None,NaN,NaN,None,None,None,None,None,None
217,https://www.linkedin.com/jobs/view/3836844996,linkedin,"PhD student position (f/m/d) in Berlin, Deutsc...",Energy Jobline,https://uk.linkedin.com/company/energy-jobline,"Berlin, Berlin, Germany",None,None,None,NaN,NaN,None,None,None,None,None,None
221,https://www.linkedin.com/jobs/view/3837668042,linkedin,Scientist Management of Regulatory Data (m/f/d...,BASF,https://de.linkedin.com/company/basf,"Berlin, Berlin, Germany",None,None,None,NaN,NaN,None,None,None,Be an early applicant,None,None

In [4]:
all_jobs = all_jobs[['date_posted','title','company','site','job_url','description']]
all_jobs

,date_posted,title,company,site,job_url,description
0,2024-02-23,(Senior) Expert Investor Relations (m/w/d),KWS Group,glassdoor,https://www.glassdoor.de/job-listing/j?jl=1009...,# **(Senior) Expert Investor Relations (m/w/d...
1,2024-02-23,Data Analysts - Business Analytics (all genders),Urban Sports Club,glassdoor,https://www.glassdoor.de/job-listing/j?jl=1009...,## **The opportunity**\n\nAs a Data Analyst i...
132,2024-02-23,Data Scientist,Toll Collect GmbH,indeed,https://de.indeed.com/viewjob?jk=93b8c1288c6c46b1,Referenznummer: 20622\n\nIhre Aufgaben \n\n ...
125,2024-02-23,Data Scientist,Amadeus,glassdoor,https://www.glassdoor.de/job-listing/j?jl=1009...,**Job Title**\n\nData Scientist\n\n **Diversit...
211,2024-02-23,Post-doctoral Fellow,Leibniz-Forschungsinstitut für Molekulare Phar...,indeed,https://de.indeed.com/viewjob?jk=a498ca655f6db570,**Postdoctoral Fellow in Biochemistry or Struc...
...,...,...,...,...,...,...
210,None,Typescript developer,Planner 5D,linkedin,https://www.linkedin.com/jobs/view/3831893577,None
215,None,Postdoctoral Fellow in Biochemistry or Structu...,Leibniz-Forschungsinstitut für Molekulare Phar...,linkedin,https://www.linkedin.com/jobs/view/3836891227,None
216,None,Postdoctoral Researcher- Observational learnin...,Science of Intelligence,linkedin,https://www.linkedin.com/jobs/view/3836275722,None
217,None,"PhD student position (f/m/d) in Berlin, Deutsc...",Energy Jobline,linkedin,https://www.linkedin.com/jobs/view/3836844996,None
221,None,Scientist Management of Regulatory Data (m/f/d...,BASF,linkedin,https://www.linkedin.com/jobs/view/3837668042,None

In [5]:
# Exclude jobs using certain keywords in the Title
keywords_to_exclude = ['Developer', 'Engineer', 'Software', 'Entwickler', 'Business', 'DevOps','Intern', 'Marketing','Finance', 'Senior Data']

# Create a mask that is True for rows to exclude
mask = pd.Series([False] * len(all_jobs))  # Initialize a mask to keep all rows
for keyword in keywords_to_exclude:
    mask = mask | all_jobs['title'].str.contains(keyword, case=False, na=False)

# Use the negation of the mask to filter the DataFrame
filtered_jobs = all_jobs[~mask]

filtered_jobs

/var/folders/q2/_chm3qg94gz5l7r736h39n040000gn/T/ipykernel_16597/1713814228.py:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered_jobs = all_jobs[~mask]

,date_posted,title,company,site,job_url,description
0,2024-02-23,(Senior) Expert Investor Relations (m/w/d),KWS Group,glassdoor,https://www.glassdoor.de/job-listing/j?jl=1009...,# **(Senior) Expert Investor Relations (m/w/d...
132,2024-02-23,Data Scientist,Toll Collect GmbH,indeed,https://de.indeed.com/viewjob?jk=93b8c1288c6c46b1,Referenznummer: 20622\n\nIhre Aufgaben \n\n ...
125,2024-02-23,Data Scientist,Amadeus,glassdoor,https://www.glassdoor.de/job-listing/j?jl=1009...,**Job Title**\n\nData Scientist\n\n **Diversit...
211,2024-02-23,Post-doctoral Fellow,Leibniz-Forschungsinstitut für Molekulare Phar...,indeed,https://de.indeed.com/viewjob?jk=a498ca655f6db570,**Postdoctoral Fellow in Biochemistry or Struc...
14,2024-02-23,Senior Guest Relations,KWS Group,indeed,https://de.indeed.com/viewjob?jk=efc3d19a515c2374,# **(Senior) Expert Investor Relations (m/w/d...
...,...,...,...,...,...,...
199,None,Fullstack Enginer (m/f/d),PAYBACK,linkedin,https://www.linkedin.com/jobs/view/3838218070,None
215,None,Postdoctoral Fellow in Biochemistry or Structu...,Leibniz-Forschungsinstitut für Molekulare Phar...,linkedin,https://www.linkedin.com/jobs/view/3836891227,None
216,None,Postdoctoral Researcher- Observational learnin...,Science of Intelligence,linkedin,https://www.linkedin.com/jobs/view/3836275722,None
217,None,"PhD student position (f/m/d) in Berlin, Deutsc...",Energy Jobline,linkedin,https://www.linkedin.com/jobs/view/3836844996,None
221,None,Scientist Management of Regulatory Data (m/f/d...,BASF,linkedin,https://www.linkedin.com/jobs/view/3837668042,None

In [6]:
# Path to existing Excel file
existing_file_path = 'jobs.xlsx'

# Read the existing Excel file into a DataFrame
existing_jobs = pd.read_excel(existing_file_path)

# Combine existing jobs with new filtered jobs into a df
combined_jobs = pd.concat([existing_jobs, filtered_jobs], ignore_index=True)

# Remove duplicates based on certain columns that uniquely identify a job listing
unique_jobs = combined_jobs.drop_duplicates(subset=['company', 'title', 'date_posted'], keep='first')

unique_jobs.to_excel(existing_file_path, index=False)